.dashboard-screen {
  background-color: black;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.dasboard-system {
  margin-top: 50px;
  padding: 15px;
  position: relative;
  height: 70vh;
}

.processor {
  float: right;
  width: 200px;
  height: 120px;
  border: 1px solid;
  text-align: center;
  border-radius: 8px;
  background-color: transparent;
  color: red;
}

.processor .process {
  width: 90%;
  margin: auto;
  margin-top: 40px;
}

.dashboard-screen .header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  padding-left: 10px;
  flex-wrap: wrap;
  min-height: 70px;
  border-bottom: 2px solid red;
}

.dashboard-screen .header div {
  padding-top: 13px;
}

.dashboard-screen .header .interrupt-type {
  bottom: 10px;
}

.dashboard-screen .header .total-processes {
  min-width: 30%;
  padding-left: 40px;
  bottom: 5px;
  border-left: 2px solid red;
}

.dashboard-screen .footer {
  position: relative;
  height: 50px;
  font-size: 140%;
}

.dashboard-screen .footer .status {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.dashboard-screen .footer .status .click-interrrupt {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}

.dashboard-screen .footer .status .click-interrrupt:hover {
  font-weight: bolder;
}

.dashboard-screen .footer .time-latency {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.dashboard-screen .interrrupt-handled-images {
  position: absolute;
  left: 41px;
  top: -133px;
  left: 134px;
  top: -148px;
  min-width: 187px;
  max-width: 203px;
}

.dashboard-screen .interrrupt-handled-images img {
  height: 100%;
  width: 100%;
}

.dashboard-screen .process-interrrupted-images {
  position: absolute;
  left: 65%;
  top: 72px;
  width: 232px;
}

.dashboard-screen .process-interrrupted-images img {
  height: 100%;
  width: 100%;
}

.dashboard-screen .process-dispatched-images {
  position: absolute;
  left: 363px;
  top: 20px;
  height: 100%;
  width: 100%;
}

.dashboard-screen .process-dispatched-images img {
  height: 90px;
  width: 100%;
}

.dashboard-screen .process-timout-images {
  position: absolute;
  left: 400px;
  top: 300px;
}

.dashboard-screen .process-timout-images img {
  height: 90px;
  width: 560px;
}

.info-model.process-model .ant-modal-close {
  display: none !important;
}

.processor-container {
  top: 95px;
  right: -103px;
}

/*========================================================================*/
/*============================RESPONSIVENESS=============================*/
/*======================================================================*/
@media only screen and (max-width: 500px) {
  .total-processes {
    display: none;
  }
}
